<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026094391499-qi2dvjvuagi2bkoi6d0as1vbuft25tgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026094391499-qi2dvjvuagi2bkoi6d0as1vbuft25tgf</string>
	<key>API_KEY</key>
	<string>AIzaSyCS8kJOgyjOYxcPipAzZGOHLF8sH8Susfw</string>
	<key>GCM_SENDER_ID</key>
	<string>1026094391499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexT.stockify</string>
	<key>PROJECT_ID</key>
	<string>stockify-53638</string>
	<key>STORAGE_BUCKET</key>
	<string>stockify-53638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026094391499:ios:bec1ad32450e808f827b4e</string>
	<key>DATABASE_URL</key>
	<string>https://stockify-53638-default-rtdb.firebaseio.com</string>
</dict>
</plist>